/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #f5f5f5;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #004f8b;
    font-family: 'Merriweather', serif;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list li {
    position: relative;
}

.nav-list li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.nav-list li a:hover {
    background-color: #e63946;
    transition: background-color 0.3s ease;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

footer {
    background-color: #004f8b;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.mode-switch {
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 26px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #004f8b;
}

input:checked + .slider:before {
    transform: translateX(24px);
}

/* Dark Mode */
body.dark-mode {
    background-color: #121212;
    color: #f5f5f5;
}

.dark-mode .navbar {
    background-color: #333;
}

.dark-mode footer {
    background-color: #333;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .nav-list {
        flex-direction: column;
    }
    
    .nav-list li a {
        padding: 10px 15px;
    }
}